# Specify the working directory of destor.
# All metadata and data locates in the directory.
working-directory "/home/data/working/"

# Specify the simulation level: NO, RESTORE, APPEND, ALL.
simulation-level no

# Specify the destor verbosity level: debug, verbose, notice, warning.
log-level notice

# Specify the chunking algorithm.
# It can be rabin, fixed, "normalized rabin".
# For example, 
# chunking-algorithm "normalized rabin"
chunk-algorithm rabin

# Specify the average/maximal/minmal chunk size in bytes.
#chunk-avg-size 4096
chunk-avg-size 4096
chunk-max-size 65536
chunk-min-size 512

####################################################################################
#                         Categories of fingerprint indexes
# -----------------------------------------------------------------------------------
# -                  -  physical locality  -       logical locality (similarity)    -
# -----------------------------------------------------------------------------------
# - exact dedup      -   DDFS, ChunkStash  -         Block Locality Caching         -
# -----------------------------------------------------------------------------------
# - near-exact dedup -   Sampled Index     -    Extreme Binning, Sparse Index, SiLo -
# -----------------------------------------------------------------------------------
####################################################################################

# Specify the fingerprint index.
# It can be ddfs, silo, "extreme binning", "sparse index", 
#    "sampled index", "block locality caching".
# For example, 
# fingerprint-index near-exact similarity "extreme binning"
# fingerprint-index near-exact locality "sparse index"
# fingerprint-index exact similarity "block locality caching"
# (The fourth arg specifies a combo)
# fingerprint-index near-exact locality "sampled index"
fingerprint-index near-exact locality

# Specify the fingerprint cache size of ddfs and sampled index 
# in the size of container (only metadata part).
fingerprint-index-container-cache-size 128
# Specify the size of bloom filter in DDFS.
# For example, 31 indicates the size is 2^31 bits.
fingerprint-index-bloom-filter 31
#
# Specify the method of selecting features and the ratio of features.
# For example,
# fingerprint-index-feature-method min 0
# (min 0 indicates select a feature per segment or container.)
# fingerprint-index-feature-method min 128
# fingerprint-index-feature-method random 128
# fingerprint-index-feature-method uniform 64
fingerprint-index-feature-method random 128
# Specify the maximum number of segments a feature can refer to.
fingerprint-index-feature-segment-number 1

#########################################################################
#            Design elements of fingerprint indexes exploiting similarity
# --------------------------------------------------------------------------------------
# -                      -   Extreme Binning  -  Sparse Index    -   SiLo     - BLC    -
# - segment algorithm    -     file-defined   - content-defined  -   fixed    - fixed  -
# - feature method       -     min            -    random        -   min      - (no)   -
# - segment selection    -     all            -    top-k         -   top-1    - lazy   -
# - segment prefetching  -     no             -    no            -   yes      - yes    -
# - segment caching      -     no             -    no            -   yes      - yes    -
# --------------------------------------------------------------------------------------
#########################################################################

# Specify the segment algorithm and the segment size. Such as
# fingerprint-index-segment-algorithm file-defined 
# fingerprint-index-segment-algorithm content-defined 512
# fingerprint-index-segment-algorithm fixed 1024
fingerprint-index-segment-algorithm content-defined 1024

# Specify the method of segment selection 
# for example,
# fingerprint-index-segment-selection top 10
# fingerprint-index-segment-selection lazy
# fingerprint-index-segment-selection all
fingerprint-index-segment-selection top 1

# Specify the number of prefetched segments.
# 1 indicates only prefetching the required segment. 
fingerprint-index-segment-prefetching 1

# Specify the size of the segment cache.
# 1 indicates only caching the current segment. 
# In general, the cache size should be larger than the size of prefetch unit.
fingerprint-index-segment-caching 16

# Specify the rewriting algorithm and the size of rewrite buffer.
# It can be "no", "cfl-based selective deduplication" (or "cfl" in short),
#   "context-based rewriting" (or cbr), "capping" (or cap).
# For example,
# rewrite-algorithm cbr 2048
rewrite-algorithm no

# Enable/disable the cfl switch.
# If the cfl switch is enable,
# destor will monitor the CFL metric in real time,
# and stop rewriting out-of-order chunks if the CFL is high.
rewrite-enable-cfl-switch no

# Specify cfl-require in cfl.
rewrite-cfl-require 0.6

# Specify cfl-usage-threshold in cfl.
rewrite-cfl-usage-threshold 0.03

# Specify rewrite limit in cbr.
rewrite-cbr-limit 0.05

# Specify minimal utility in cbr.
rewrite-cbr-minimal-utility 0.5

# Specify capping level in capping.
# The original definition of capping level (in the paper) is defined as rewrite-capping-level:rewrite buffer size. 
rewrite-capping-level 10

# Enable History-Aware Rewriting (HAR),
# rewrite-enable-har yes
rewrite-enable-har no

# Specify the utilization threshold of HAR.
rewrite-har-utilization-threshold 0.5

# Enable Cache-Aware Filter.
rewrite-enable-cache-aware no

# Specify the restore cache,
# and the size of the restore cache in the number of containers.
# It can be lru, "optimal cache" (or opt), and "forward assembly" (or asm).
restore-cache lru 30

# Specify the window size of the optimal restore cache.
restore-opt-window-size 1000000
