# server config
WORKING_PATH=/home/data/working/
# chunking algorithm
#CHUNKING_ALGORITHM=FIXED
CHUNKING_ALGORITHM=RABIN
#CHUNKING_ALGORITHM=NRABIN
# read_cache
READ_CACHE_SIZE=100
READ_CACHE_TYPE=LRU
#READ_CACHE_TYPE=OPT
#READ_CACHE_TYPE=ASM
OPTIMAL_CACHE_WINDOW_SIZE=10240000
# fingerprint index
INDEX_TYPE=RAM
#INDEX_TYPE=DDFS
#INDEX_TYPE=EXBIN
#INDEX_TYPE=SILO
#INDEX_TYPE=SPARSE
#DDFS param
DDFS_CACHE_SIZE=64
#SILO params, KB and MB respectively
SILO_SEGMENT_SIZE=2048
SILO_BLOCK_SIZE=256
SILO_READ_CACHE_SIZE=2
# sparse index parameters
CHAMPIONS_NUMBER=8
# sample rate 
SAMPLE_BITS=8
# Rewriting algorithm 
REWRITE=NO
#REWRITE=CFL
#REWRITE=CBR
#REWRITE=CAP
#REWRITE=ECAP
# cfl configure
CFL_REQUIRE=0.6
CFL_P=3
# cbr configure
MINIMAL_REWRITE_UTILITY=0.5
REWRITE_LIMIT=0.05
STREAM_CONTEXT_SIZE=16
DISK_CONTEXT_SIZE=1
# capping configure
CAP_T=12
CAP_SEGMENT_SIZE=16
# HBR configure
HBR=FALSE
HBR_USAGE_THRESHOLD=0.5
# simulation level, NO, RECOVERY, APPEND, ALL
SIMULATION_LEVEL=NO
